@using (Html.BeginForm("RegistroEmpresa", "Home", FormMethod.Get))
{
    <button type="submit" class="btn btn-primary">Empresarial </button>
}


<h2></h2>
@using (Html.BeginForm("RegistroUsuario", "Home", FormMethod.Get))
{
    <button type="submit" class="btn btn-primary">Natural </button>
}
